*.json
*.jsonl
run_logs/
build/
*.0
*.txt
src/r2egym/__pycache__/
src/r2egym/agenthub/action/__pycache__/
__pycache__/
run_logs_old/
temp_sh_folder/
traj/
zipped/
*.kms
src/r2e_gym.egg-info/PKG-INFO
*.log
assets/command.log
*.temp_sh_folder
assets/
*.yml
src/r2egym/old_traj/
src/r2egym/traj/
src/r2egym/utils_traj/